@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter',
        sans-serif;
}

body {
    font-family: 'Inter',
        sans-serif;
    margin: 0;
}

.header {
    margin: 2rem 0;
    text-align: center;
}

.container-card {
    border: 1px solid #dadce0;
    border-radius: 10px;
    margin: 2rem auto;
    max-width: 50rem;
    width: 100%;
    padding: 2rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.balance-header {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 .4rem 0;
    color: #333;
}

#balance {
    color: #181818;
    font-size: 2rem;
    text-align: center;
}

.inc-exp-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    width: 24rem;
    background-color: #f8f8f8;
}

.income {
    color: #333;
    border-right: 1px solid #ccc;
    display: inline-block;
    text-align: center;
    flex: 1;
    padding: 1rem 0 0 0;
}

.expense {
    color: #333;
    display: inline-block;
    text-align: center;
    flex: 1;
    padding: 1rem 0 0 0;
}

.income h4 {
    margin: 0;
}

.expense h4 {
    margin: 0;
}

#income {
    font-weight: 600;
    font-size: 1.4rem;
    color: #34ac4f;
}

#expense {
    font-weight: 600;
    font-size: 1.4rem;
    color: #ff3943;
}

#list li {
    background-color: #f2f2f2;
    padding: .6rem;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr auto 1rem;
    grid-gap: 1rem;
    align-items: center;
    font-size: 1.1rem;
    color: #333;
    margin-bottom: .4rem;
}

#list li.plus {
    border-right: 4px solid #34ac4f;
}

#list li.minus {
    border-right: 4px solid #ff3943;
}

.delete-icon {
    color: #ff3943;
    cursor: pointer;
}

label {
    margin: 0;
}